/* CONFIG/RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-family: "Roboto", sans-serif;
	--font-base-size: 18px;

	--spacing-16: 0.88rem;
}

html,
body {
	height: 100%;
}

html {
	font-size: var(--font-base-size);
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 24px;
	color: var(--black);
	background-color: var(--body);
	transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dark {
	--black: hsl(0, 0%, 20%);
	--white: hsl(0, 0%, 100%);
	--orange: hsl(6, 99%, 65%);
	--body: hsl(0, 0%, 96%);
	--box-shadow: hsla(0, 0%, 0%, 25%);
	--border: 1px solid hsl(0, 0%, 77%);
	--logo: url(./images/white-logo.svg);
	--icon: url(./images/icon-sun.svg);
	--cover: hsl(0, 0%, 77%);
}

.light {
	--black: hsl(0, 0%, 100%);
	--white: hsl(0, 0%, 20%);
	--orange: hsl(6, 99%, 65%);
	--body: hsl(0, 0%, 20%);
	--box-shadow: hsla(0, 0%, 0%, 25%);
	--border: 1px solid hsl(0, 0%, 100%);
	--logo: url(./images/dark-logo.svg);
	--icon: url(./images/icon-moon.svg);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fit-image {
	display: block;
	margin: auto;
	width: 100%;
	object-fit: cover;
}

h1 {
	font-size: 1.33rem;
}

#root,
main {
	height: 100%;
}

/* PAGE LAYOUT */

.page {
	margin-right: calc(var(--spacing-16) / 2);
	margin-bottom: calc(var(--spacing-16) / 2);
	margin-left: calc(var(--spacing-16) / 2);
}

@media only screen and (min-width: 42rem) {
	.page {
		margin-right: var(--spacing-16);
		margin-bottom: var(--spacing-16);
		margin-left: var(--spacing-16);
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
